body {
    font-family: Arial, sans-serif;
    background-color: #f9e3f1; /* Cor de fundo rosa claro */
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff; /* Cor de fundo branca para o container */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #e91e63; /* Cor do título em rosa escuro */
}

ul {
    list-style-type: none;
    padding: 0;
}

.present-item {
    margin: 10px 0;
}

input[type="text"] {
    padding: 10px;
    width: calc(100% - 20px);
    margin-bottom: 10px;
    border: 1px solid #f06292; /* Bordas em rosa claro */
    border-radius: 5px;
    background-color: #fce4ec; /* Cor de fundo rosa claro para o input */
}

button {
    padding: 10px 20px;
    width: 100%;
    background-color: #e91e63; /* Cor de fundo rosa escuro para o botão */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #c2185b; /* Cor de fundo rosa mais escuro para o hover */
}

.present-checkbox {
    margin-right: 10px;
}

span {
    color: #e91e63; /* Cor rosa escuro para o nome do responsável pelo presente */
}
